@charset "EUC-KR";
*{
    color: black;
    
}

html,body{
    margin: 0;
    height: 150%;
}


.wrapper{
    display: flex;
    flex-direction: column;
}
.wrapper .header{
    width: 100%;
    height: 20vh;
} 
.wrapper .prev{
    width: 7%;
    height: 7%;
    position: absolute;
    top: 7%;
    left: 3%;
    opacity: .5;
}

.wrapper.indexPage{
    justify-content: center;
    position: relative;

}

/* 메인부분 */
.mainSection{
    display: flex;
    flex-direction: column;
    /* 가운데 정렬 */
    align-items: center;
}
.mainSection .searchContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8vh;
}
.mainSection .logoContainer img{
    height: 30vh;
}

.mainSection .searchContainer .searchBox{
    border: none;
    box-shadow: 0px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
    height: 8vh;
    border-radius: 22px;
    width: 75vh;
    outline: none;
    display: flex;
    align-items: center;

}

.mainSection .searchContainer .searchBox img{
    width: 25px;
    height: 25px;
    margin: 13px;
    opacity: 0.5;
}

.mainSection .searchContainer .searchBox input{
    flex: 1;
    height: 95%;
    margin-right: 20px;
    border: none;
    outline: none;
    font-size: 1.3rem;
}
a{
    text-decoration: none;
}
.content_container{
	display: inline-block;
	margin-top: 5%
}

/* 더보기 클릭 관련 */
.js-load {
    display: none;
}
.js-load.active {
    display: block;
}
.is_comp.js-load:after {
    display: none;
}
.btn-wrap, .lists, .main {
    display: block;
}
.main {
    width: 90%;

    margin: 0 auto;
    height: 25vh;
}
.lists {
    margin-bottom: 2rem;
}
.lists__item {
    padding: 20px;

}

.btn-wrap {
    text-align: center;
  	display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 5%;
}
.btn,.btn2{
    display: inline-block;
    padding: 1em 1.6em;
    border-radius: 10px;
    margin-top:2rem;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: all 250ms ease;
    background: #25167a;
    color: whitesmoke;
}

/* 연습중 */
.recipe_list{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #6f6f6f;
 }
 .food_photo{
    width: 30%;
    height: 80%;
}

.food_photo img{
    width: 100%;
    height:100%;
    /* margin-left: 3%;
    margin-top: 3% */
    border-radius: 10%;
}

 .food_explain{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3%;
    text-align: left;
    border: 1px solid black;
    height: 70%;
}
.food_title{
    height: 30%;
    font-size: 2rem;
    margin-bottom: 3vh;
}
.food_ingredients{
    height: 60%;
    font-size: 1.3rem;

}

