<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ShowFavoriteController</servlet-name>
  	<display-name>ShowFavoriteController</display-name>
  	<description></description>
  	<servlet-class>readRecipe.controller.ShowFavoriteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyFavoriteController</servlet-name>
  	<display-name>MyFavoriteController</display-name>
  	<description></description>
  	<servlet-class>readRecipe.controller.MyFavoriteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowMyFavoriteController</servlet-name>
  	<display-name>ShowMyFavoriteController</display-name>
  	<description></description>
  	<servlet-class>readRecipe.controller.ShowMyFavoriteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowFavoriteController</servlet-name>
  	<url-pattern>/ShowFavoriteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyFavoriteController</servlet-name>
  	<url-pattern>/MyFavoriteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowMyFavoriteController</servlet-name>
  	<url-pattern>/ShowMyFavoriteController</url-pattern>
  </servlet-mapping>
</web-app>
